<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
	  <!--<cors enabled="true">
		  <add origin="*" allowCredentials="true" />
	  </cors>-->
    <directoryBrowse enabled="false" />
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
   <aspNetCore processPath="c:\Program Files\dotnet\dotnet.exe" arguments="D:\My Work\Cors\WebApplicationCore\WebApplicationCore\WebApplicationCore\bin\Debug\netcoreapp2.2\WebApplicationCore.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="InProcess">
      <environmentVariables>
        <environmentVariable name="COMPLUS_ForceENC" value="1" />
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
      </environmentVariables>
    </aspNetCore>
  </system.webServer>
    <system.web>
        <authentication mode="Windows" />
    </system.web>
</configuration>